body
{
	height: 100%;
	width: auto;
	margin: 0 0 0 0;
	font-family: Arial, sans-serif;
	font-size: 15px;
	background: #DCDDDA;
	overflow-x: hidden;
}

#pan_base
{
	width: 20%;
	float: left;
	height: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-right: 10px;
	border-right: 1px solid white;
	vertical-align: top;
}

#pan_table
{
	border: 1px solid red;
	width: 80%;
	float: left;
	height: 100%;
}

#l_base
{
	height: 50%;
	width: 100%;
}

#div_info_base
{
	height: 50%;
	width: 100%;
}

#ico_crea
{
	width: 100%;
}

#ico_creation
{
	height: 30px;
	margin-left: 5px; 
	margin-top: 5px;
}

#ico
{
	height: 20px;
}

#ico_img
{
	height: 30px;	
}

#l_base
{
	height: 80%;
	margin-right: 5px;
	margin-left: 5px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#div_info_base
{
	height: auto;
	width: 100%;
}

#tab_info_base
{
	border-bottom: 1px solid white;
	margin-left: 1.5%;
}

#edit_base
{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#edit_base:target
{
    display: block;
}

#new_base
{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#new_base:target
{
    display: block;
}

#fermer_new_base
{
    font-weight: bold;
    padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 7px;
	padding-left: 7px;
	margin-top: -10px;
	margin-right: -10px;
    background-color: black;
    position: relative;
    float: right;
	color: white;
	text-decoration: none;
	border-radius: 50%;
}

#fen_new_base
{
	width: 20%;
	height: 12%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	background: white;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 0px 10px black;
}

#content_form
{
	margin-top: 20px;
}

#new_base_form
{
	text-align: center;
	height: 70%;
	border: 2px solid white;
	border-radius: 5px;
}

#inp_new_base
{
	width: 90%;
	height: 20%;
	border: 2px solid #4A9FF2;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	outline-style: none;
	padding-left: 2px;
	margin-left: 4%;
	margin-top: 5%;
}

#inp_new_base:focus
{
	border: 2px solid #47B34A;
}

#val_new_base
{
	border: none;
	border-radius: 5px;
	background-color: #4A9FF2;
	color: white;
	text-decoration: none;
	padding: 2px 5px 2px 5px;
	margin-bottom: 20px;
}

#val_new_base:hover
{
	background-color: #47B34A;
}

#sup_base
{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#sup_base:target
{
    display: block;
}

#fen_sup_base
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 20%;
	height: 10%;
	background: white;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
	text-align: center;
}

#sup_yes_or_no
{
	display: inline-block;
	width: 100%;
}

#ico_sup_base
{
	float: left;
	width: 10%;
	margin-left: 26%;
}

#ico_sup_base_ex
{
	float: left;
	width: 10%;
	margin-left: 26%;
}